@page
@model RegisterModel
@{
	ViewData["Title"] = "Đăng Ký";
}

<section class="bg-body-tertiary">
	<div class="container">
		<div class="row justify-content-center py-4">
			<div class="col-6 border p-5 bg-white">
				@if (User.IsInRole(SD.Role_Admin))
				{
					<h1>Đăng Ký Tài Khoản Admin</h1>
				}
				else
				{
					<h1>@ViewData["Title"]</h1>
				}
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<h5>Tạo mới tài khoản ngay</h5>
					<hr />
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Name" class="form-control rounded-0" aria-required="true" required />
						<label asp-for="Input.Name">Tên</label>
						<span asp-validation-for="Input.Name" class="text-danger"></span>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="form-floating mb-3">
								<input asp-for="Input.PhoneNumber" class="form-control rounded-0" aria-required="true" required />
								<label asp-for="Input.PhoneNumber">Số điện thoại</label>
								<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
							</div>
						</div>
						<div class="col">
							<div class="form-floating mb-3">
								<input asp-for="Input.PostalCode" class="form-control rounded-0" aria-required="true" required />
								<label asp-for="Input.PostalCode">Mã bưu chính</label>
								<span asp-validation-for="Input.PostalCode" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="form-floating mb-3">
								<input asp-for="Input.StreetAddress" class="form-control rounded-0" aria-required="true" required />
								<label asp-for="Input.StreetAddress">Địa chỉ</label>
								<span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
							</div>
						</div>
						<div class="col">
							<div class="form-floating mb-3">
								<input asp-for="Input.City" class="form-control rounded-0" aria-required="true" />
								<label asp-for="Input.City">Thành phố</label>
								<span asp-validation-for="Input.City" class="text-danger"></span>
							</div>
						</div>
					</div>

					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control rounded-0" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email">Email</label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Password" class="form-control rounded-0" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.Password">Mật khẩu</label>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>
					<div class="form-floating mb-3">
						<input asp-for="Input.ConfirmPassword" class="form-control rounded-0" autocomplete="new-password" aria-required="true" placeholder="password" />
						<label asp-for="Input.ConfirmPassword">Xác nhận Mật khẩu</label>
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>
					@if (User.IsInRole(SD.Role_Admin))
					{
						<div class="form-floating mb-3">
							<select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select rounded-0">
								<option>--Select Role--</option>
							</select>
							<label asp-for="Input.Role">Role</label>
						</div>
					}
					<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark rounded-0 mt-3">Đăng ký</button>
				</form>
				@if (!User.IsInRole(SD.Role_Admin))
				{
					<hr />
					<div class="">
						<h6 class="mb-2">Đăng ký với:</h6>
						@{
							if ((Model.ExternalLogins?.Count ?? 0) == 0)
							{
								<div>
									<p>
										There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
											article
											about setting up this ASP.NET application to support logging in via external services
										</a>.
									</p>
								</div>
							}
							else
							{
								<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
									<div>
										<p>
											@foreach (var provider in Model.ExternalLogins!)
											{
												<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa-brands fa-facebook-f me-2"></i>@provider.DisplayName</button>
											}
										</p>
									</div>
								</form>
							}
						}
					</div>
				}
			</div>

		</div>
	</div>

</section>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
